// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Site header
 */
 .site-header {

   min-height: $spacing-unit * 6; /* same format as _layout.scss */
   background-color: $brand-color;

   /* Override the default header layout and try to center everything */
   /* TODO: Get rid of the nav menu icon */
   .wrapper {

    display: flex;
    flex-direction: column;

    .site-title {
      color: white;
      float: none;
      margin: auto;
    }

    .site-nav {
      display: flex;
      justify-content: space-between;
      float: none;
      margin: auto;

      .page-link {
        color: white;
      }
    }
   }
 }

/**
 * Contact Form
 */
.contact-form {

  .flex-form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: .3em;
    font-weight: bold;
  }

  input, textarea {
    margin-top: .3em;
    margin-bottom: 1em;
  }

  fieldset {
    margin-bottom: .5em;
  }

  legend {
    padding: .3em .6em;
    margin-bottom: 1.1em;

    border: 1px solid black;
    border-radius: 15px;

    background-color: $brand-color-dark;
    color: white;
  }

  .submit-btn {
    padding: .5em 1em;
  
    background-color: $brand-color-dark;
    color: white;
  
    font-family: inherit;
  
    border: 1px solid white;
    border-radius: 15px;
  }

  .submit-btn:hover {
    cursor: pointer;
  
    background-color: white;
    border: 1px solid $brand-color-dark;
    color: black;
  }
}