// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Site header
 */
 .site-header {

   min-height: $spacing-unit * 5; /* same format as _layout.scss */
  //  background-color: $brand-color;
  background: url(../../assets/img/abstract-black-and-white-blur-book-261763.jpg);
  background-size: cover;
  background-repeat: no-repeat;

   /* Override the default header layout and try to center everything */
   .wrapper {

    min-height: $spacing-unit * 5; /* why does this not get applied from parent container? */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .site-title {
      margin: auto;

      float: none;

      color: white;

      font-size: 2.6em;
    }

    .site-nav {
      margin: auto;

      display: flex;
      justify-content: space-between;

      align-self: flex-end;

      float: none;

      .page-link {
        padding: 0 .5em;

        color: white;
      }
    }
   }
 }

 .post-link {
   font-weight: bold;
 }

 .post-title {
   color: $link-base-color;
   font-weight: bold;
 }

/**
 * Contact Form
 */
.contact-form {

  .flex-form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: .3em;
    font-weight: bold;
  }

  input, textarea {
    margin-top: .3em;
    margin-bottom: 1em;
  }

  fieldset {
    margin-bottom: .5em;
  }

  legend {
    padding: .3em .6em;
    margin-bottom: 1.1em;

    border: 1px solid black;
    border-radius: 15px;

    background-color: $brand-color-dark;
    color: white;
  }

  .submit-btn {
    padding: .5em 1em;
  
    background-color: $brand-color-dark;
    color: white;
  
    font-family: inherit;
  
    border: 1px solid white;
    border-radius: 15px;
  }

  .submit-btn:hover {
    cursor: pointer;
  
    background-color: white;
    border: 1px solid $brand-color-dark;
    color: black;
  }
}